.gamer {
    border: 3px solid;
    background-clip: border-box content-box;
    background-origin: border-box;
    animation: rotate 360s linear infinite;

    animation-name: rotate;
    animation-duration: 3s;
}



@keyframes rotate {
    0% {

        border-image: conic-gradient(red, orange, yellow, green, blue, indigo, violet, red) 1;
    }

    14% {
        border-image: conic-gradient(violet, red, orange, yellow, green, blue, indigo, violet) 1;
    }

    28% {
        border-image: conic-gradient(indigo, violet, red, orange, yellow, green, blue, indigo) 1;
    }

    42% {
        border-image: conic-gradient(blue, indigo, violet, red, orange, yellow, green, blue) 1;
    }

    57% {
        border-image: conic-gradient(green, blue, indigo, violet,  red, orange, yellow, green) 1;
    }

    71% {
        border-image: conic-gradient(yellow, green, blue, indigo, violet, red, orange, yellow) 1;
    }

    85% {
        border-image: conic-gradient(orange, yellow, green, blue, indigo, violet, red, orange) 1;
    }

    100% {
        border-image: conic-gradient(red, orange, yellow, green, blue, indigo, violet, red) 1;
    }
}