.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    margin-bottom: 3em;
    border-radius: 25px;
    opacity: 75%;
    padding: 1em;
}