@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@400;700&family=Inter:wght@400;700&display=swap');

.page {
    display: grid;
    grid-template-rows: 5fr 1fr;
    height: 100vh;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-height: 80vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .page {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        height: max-content;
    }

    .main {
        grid-template-columns: 1fr;
        max-height: 170vh;
        max-width: 100vw;
    }
}