@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@400;700&family=Inter:wght@400;700&display=swap');

* {
    font-family: 'Hind Guntur', sans-serif;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}