.switches {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 20%;
    height: 100%;
    margin: auto 0;
    text-align: center;
}

.switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__icon{
        // center horizontally
        margin: auto 0;
    }
}