@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@400;700&family=Inter:wght@400;700&display=swap');

.nav {
    padding: 1em;
    margin: 3em;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
}

.titulo {
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'Hind Guntur', sans-serif;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}