.item {
    display: grid;
    grid-template-columns: 6fr 1fr;
    width: 80%;
    padding: 1em;
    border-radius: 25px;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 0.5em;
    text-align: center;
}

.valores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}